*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 100%;
    display: block;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex-basis: calc(100% / 12 * 4);
    position: relative;
    margin-top: 50px;
    cursor: pointer;
    padding: 0 10px;

    &:hover {
        .img-none {
            display: block;
        }

        .first-img {
            display: none;
        }
    }
}